    body {
        font-family: 'Roboto', sans-serif;
        background-image: url("header_bg.jpg");
        width: 1349px;
        height: 667px;
        background-size: 100%;
        overflow: hidden;
        
    }

    img{
        display: block;
        margin-top: 16.5%;
        margin-right: 40%;
        margin-bottom: 20px;
        margin-left: 41%;
        width: 360px;
        height: 200px;
    }

.icons {
  overflow: hidden;
  opacity: 1.0;
  position: center;
  width: 50%;
  margin-left: 28%;


}
.icons a {

  text-decoration: none;
  float: left;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
  padding: 14px 16px(1.4);
  font-size: 18px;
  width: 16.66%;
}

p {
    color:white;
    text-align: center
}
        

  
