    body {
        background-image: url("header_bg.jpg");
        width: 1349px;
        height: 667px;
        background-size: 100%
    }

    img{
        display: block;
        margin-left: 41%;
        margin-right: 40%;
        margin-top: 20%;
        width: 360px;
        height: 200px;
    }
